* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    color: cadetblue;
    background: #fff;
    /* font-size: 16px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.2;

}

a {
    text-decoration: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
    /* background: darkslateblue; */
} 

header {
    background: palegoldenrod;
    background-image: url("../img/1.jpeg");
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    color: white;
    text-align: center;
    padding: 50px;

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;    
}

.menu1 {
    list-style: none;
    background: palegoldenrod;
    font-size: 30px;
    text-align: center;
}

.menu1 li {
    display: inline-block;
    /* background: aquamarine; */
    font-size: 20px;
    padding: 10px 30px;
}

.menu2 {
    list-style: none;
    background: orange;
    text-align: center;    
    font-size: 0px;
    margin: 20px 0;    
}

.menu2 li {
    display: inline-block;
    width: 20%;
    font-size: 18px;
    background: olive;
    /* padding: 5px; */
}

.menu2 li a {
    /* background: red; */
    display: block;
    padding: 20px ;
}

.menu2 li a:hover {
    background: chocolate;
    color: crimson;
}

.menu2 li a:active {
    color: cyan;
}

.text {
    background: cyan;
    width: 500px;
    margin: 100px auto;
    color:gray;
    padding: 20px;
    border: solid 3px red;
    box-sizing: border-box;
}

.text1 {
    margin: 20px auto;
}

.text2 {
    margin: 40px auto;
}

.content {
    background: chocolate;
    height: 100px;
    margin-bottom: 50px;
    border-top: 5px solid red;
    padding-top: 20px;
}

.content p {
    background: darkblue;
     margin-top: 20px;
}

.article {
    background: #ddd;
    width: 33%;
    display: inline-block;
    vertical-align: top;
    padding: 30px;   
}

.news {
    background: yellow;
    margin: 50px 0;
    padding: 20px;
    /* overflow: hidden; */
}

.news img {
    width: 300px;
    float: left;
    padding: 0px 10px;
}

.clear {
    clear: both;
}

.list li:first-child {
    color: tomato;
}

.list li:last-child {
    color: violet;
}

.list li:nth-child(3) {
    color: yellow;
}

.list li:nth-child(even) {
    color: green;
}

footer {
    background: black;
    height: 100px;
    line-height: 100px;;
    padding: 0px 50px;
}




